# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
.venv/
.env/

# Test and Coverage
*.log
*.coverage
.coverage.*
*.pytest_cache/
.pytest_cache

# IDEs
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db
